:root {
  --light-text: #FFF6EB;
  /* --light-text: #9e8d78; */
  text: rgb(211, 135, 135, 30);
  --light-blue: #7CC8C8;
}

.page-title {
  text-align: center;
  color: var(--light-text);
  font-family: 'Paytone One', sans-serif;
  font-size: 50px;
}

.header-block {
  margin-top:-100px;
  /* TODO: this is manual + wrong */
  margin-bottom: -250px;
}

.wave {
  width: 100%;
  height: auto;
  z-index: 1;
  position: relative;
  top: -17cqw;
}

.header-info {
  z-index: 50;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin-top:-100px;
}

.header-img {
  width: 100%;
  height: 700px;
  display: block;
  object-fit: cover;
  filter: brightness(60%);
  z-index: 0;
}


