#brown-banner{
  background-color: var(--light-brown);
  margin-left: -12.5%;
  margin-right: -12.5%;
  box-shadow: 0 4px 4px 4px rgba(44, 15, 2, 0.475);
  padding-left: 12.5%;
  padding-right: 12.5%;
  display: grid;
  grid-template-columns: 8fr 4fr;
  align-items: center;
}
#beige-banner{
  margin-left: -12.5%;
  margin-right: -12.5%;
  padding-left: 12.5%;
  padding-right: 12.5%;
  display: grid;
  grid-template-columns: 4fr 8fr;
  align-items: center;
  text-align: right;
}
#garden-tip-img {
  max-width: 350px;
  width: 100%;
  border-radius: 50%;
  aspect-ratio: 1/1;
  object-fit: cover;
  /* box-shadow: inset 20px -10px 5px 5px black; */
  padding: 0;
}

