:root {
  --light-text: #FFF6EB;
  /* --light-text: #9e8d78; */
  text: rgb(211, 135, 135, 30);
  --light-blue: #7CC8C8;
}

body {
  margin-top: 100px;
  margin-left: 10%;
  margin-right: 10%;
  background-color: #FFF6EB;
}


button {
  display: block;
  border: 0 solid;
  font-family: 'Paytone One', sans-serif;
  font-size: 30px;
  color: var(--light-text);
  background-color: var(--light-blue);
  margin: 10px;
  cursor: pointer;
  border-radius: 5px;
  padding: 10px;
  z-index: 200;
}

.content{
  display: grid;
  margin: 0 auto;
  max-width: 100%;
  grid-row-gap: 10px;
}
.content div{
  background: pink;
  padding: 30px;
}

.content div:nth-child(even) {
  background: #777;
}