:root {
    --light-text: #FFF6EB;
    --dark-text: #2E1900;
    --brown-text: #552F0C;
    --auburn: #B96212;
    --light-beige: #E4CFB6;
    --light-brown: #C6A688 ;
    --light-blue: #7CC8C8;
  }
  
  body {
    margin-top: 100px;
    margin-left: 0px;
    margin-right: 0px;
    background-color: #FFF6EB;
  
  }
  
  button {
    display: block;
    border: 0 solid;
    font-family: 'Paytone One', sans-serif;
    font-size: 30px;
    color: var(--light-text);
    background-color: var(--light-blue);
    margin: 10px;
    cursor: pointer;
    border-radius: 5px;
    padding: 10px;
    z-index: 70;
  }
  
  h1 {
    font-family: 'Paytone One', sans-serif;
    font-size: 28px;
    color: var(--dark-text);
  }
  h3 {
    font-family: 'Paytone One', sans-serif;
    font-size: 28px;
    color: var(--light-text);
  }
  
  p {
    color: var(--brown-text);
    font-family: 'Actor', sans-serif;
    font-size: 20px;
    line-height: 170%;
  }
  /* .content{
    display: grid;
    grid-template-columns: repeat(12,1fr);
    grid-template-rows: repeat(30, minmax(10px,auto));
    max-width: 100%;
    grid-column-gap: 10px;
    grid-row-gap: 10px;
  
  } */
  
  .content {
    display: grid;
    grid-row-gap: 10px;
    max-width: 100%;
    /* TODO: margin manyally entered bc something wrong w wave */
  
    z-index: 2;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: minmax(200px,auto);
    margin-left: 10%;
    margin-right: 10%;
  
  }
  
  .content div {
    padding: 30px;
  }

   .content div:nth-child(odd){
    background: pink;
    padding: 30px;
  }
  
    .content div:nth-child(even) {
    background: #777;
  }
  
  .why-intro {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
  }
  

  .why-intro-img1 {
    width: 100%;
    height: 100%;
    object-fit: cover;
    
  }
  .why-intro-img2 {
    width: 100%;
    height: 100%;
    object-fit: cover;
    
  }
  
  .terms{
    background-color: var(--light-beige);
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(6, minmax(auto, auto));
  }
  .terms-h1{
    text-align: center;
    grid-column: 1 / 3;
    grid-row: 1 / 2;
  }
  .native-sect-terms {
    grid-row: 2/6;
    background-color: var(--light-brown);
  }
  .introduced-sect-terms {
    grid-row: 2/7;
    background-color: var(--light-brown);
  }
  .see-native-invasive-btn {
    grid-row: 6/7;
    font-family: 'Actor', sans-serif;
    font-size: 20px;
    background-color: var(--auburn);
    color: var(--light-text);
    
  }
  
  
  .movement {
    display: grid;
    grid-template-columns: 4fr 8fr;
    grid-gap: 10px;
  }
  .movement-info {
    text-align: right;
  }
  .movement-img {
    max-width: 100%;
    height: 100%;
    object-fit: cover;
    padding: 0;
  }
  
  
  
  .why-you {
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
  }
  .why-you-circles {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
  }
  .circle {
    display: flex;
    justify-content: center;
    align-items: center;
    aspect-ratio: 1;
    border-radius: 50%;
    font-size: 50px;
    color: #fff;
    text-align: center;
    background-color: #875959;
    padding: 60px;
  }
  
  