body {
  font-family: Lato;
}

.content {
  margin: auto;
  /* background-color: pink; */
  display: flex;
  border: 2px solid black;
  flex-direction: column;
  width: 80%;
  padding: 20px;
  gap: 5px;
  align-items: center;
}

.search-title {
  font-size: 25px;
  padding-bottom: 10px;
  /* background-color: lightblue; */
}

.search-line {
  /* background-color: lightcoral; */
  margin-bottom: 30px;
}

.zip-input {
  font-size: 25px;
  padding: 9px 0 9px 9px;
  border-radius: 5px;
}

.search-button {
  border: 1px solid gray;
  border-radius: 5px;
  font-size: 25px;
  padding: 9px;
  cursor: pointer;
  background: green;
  color: white;
  transition: opacity .1s;
}

.search-button:hover {
  opacity: 0.8;
}

.search-button:active {
  opacity: 0.6;
}

.plant-list {
  /* background-color: lightblue; */
  display: grid;
  gap: 10px;
}

.plant-info-row {
  
  display: grid;
  grid-template-columns: 100px 100px 220px 100px 100px;

  gap: 10px;
  justify-items: space-between;
  align-items: center;
  border-color: black;
  border: 3px;
  /* background-color: rgb(154, 154, 219); */
  
}

.see-more-button,
.add-button {
  height: 50px;
  border: 0px solid; 
  border-radius: 5px;
  font-size: 15px;
  cursor: pointer;
  color: white;
  transition: opacity .15s;
}

.see-more-button:hover, 
.add-button:hover {
  opacity: 0.8;
}

.see-more-button:active,
.add-button:active {
  opacity:0.5;
}

.see-more-button {
  background-color: #5783db;
}

.add-button {
  background-color: rgb(71, 153, 60);
}

.plant-icon {
  max-height: 100px;
  max-width: 100px;
  object-fit: contain;;

}

.plant-name, .plant-description {

}

.plant-name {
  font-size: 18px;
}